:root {
    --mossgreen: #044040;
    --offgreen: #3C8B8B;
    --textwhite: #F2F2F2;
    --textblack: #2D2D2D;
    --pricered: #D92526;
}

/* End of reset.css */

/* Start of Test */
model-viewer {
    padding-top: 80px;
    width: 100%;
    height: 50vh;
}

#ar-button {
    background-image: url(assets/ic_view_in_ar_new_googblue_48dp.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 12px 50%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-80%);
    white-space: nowrap;
    bottom: 132px;
    padding: 0px 16px 0px 40px;
    font-family: Roboto Regular, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #4285f4;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid #DADCE0;
}

#ar-button:active {
    background-color: #E8EAED;
  }

  #ar-button:focus {
    outline: none;
  }

  #ar-button:focus-visible {
    outline: 1px solid #4285f4;
  }


/* Start of Product */
.product-info {
    margin-top: 20px;
    padding: 0 16px;
}

.product-info h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 30px 0 20px 0;
}

.product-price-container {
    display: flex;
    align-items: baseline;
    /* margin-top: 10px; */
    color: var(--pricered);
    font-size: 16px;
    font-weight: 700;
}

.product-price {
    font-size: 32px;
    padding-left: 8px;
}

/* End of product */

/* Start of Checkout */

.checkout {
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkoutButton {
    background-color: var(--mossgreen);
    color: var(--textwhite);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 10px 0px;
    min-width: 120px;
}