:root {
    --mossgreen: #044040;
    --offgreen: #3C8B8B;
    --textwhite:#F2F2F2;
    --textblack:#2D2D2D;
    --pricered: #D92526;
}

.container {
    margin-top: 74px;
    width: 100%;
    height: 40vh;
    background-color: var(--textblack);

}

.swiper {
    width: 100%;
    height: 50vh;
}

.swiper-slide img{
    background-size: cover;
    object-fit: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: var(--offgreen);
}

.swiper .swiper-pagination-bullet-active {
    background-color: var(--offgreen);
}